node_modules/

**/.vim/.netrwhist

linux/.vim/tmp/*
!linux/.vim/tmp/.gitkeep

macOS/.vim/tmp/*
!macOS/.vim/tmp/.gitkeep

linux/.vim/plugged/*
!linux/.vim/plugged/.gitkeep

macOS/.vim/plugged/*
!macOS/.vim/plugged/.gitkeep

