[submodule ".vim/plugged/space-vim-dark"]
	path = .vim/plugged/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule ".vim/plugged/ayu-vim"]
	path = .vim/plugged/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/plugged/indentLine"]
	path = .vim/plugged/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
